<div class="jumbotron">
<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Home index', root_path, class: "btn btn-primary" %>
<%= link_to 'About', home_about_path, class: "btn btn-success" %>
</div>
